
<a href="https://www.youtube.com/watch?v=JUVf1_NhK2w">with Angular 16</a>
<a href="https://www.youtube.com/watch?v=qUTYO_IqPqM">with Angular 17</a>
<a href="https://swiperjs.com/element">Doc Swiper Element</a>
<a href="https://swiperjs.com/demos">Demo</a>

<swiper-container loop="true" navigation="true" class="mySwiper">

<swiper-slide>
  <img src="https://picsum.photos/3000/1000?random=1" alt="">
</swiper-slide>

<swiper-slide>
  <img src="https://picsum.photos/3000/1000?random=2" alt="">
</swiper-slide>

<swiper-slide>
  <img src="https://picsum.photos/3000/1000?random=3" alt="">
</swiper-slide>

<swiper-slide>
  <img src="https://picsum.photos/3000/1000?random=4" alt="">
</swiper-slide>

<swiper-slide>
  <img src="https://picsum.photos/3000/1000?random=5" alt="">
</swiper-slide>

</swiper-container>

<br>
<hr>
<br>

<span>Slide per view</span>
<swiper-container loop="true" navigation="true" slides-per-view="3" class="mySwiper">

  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=1" alt="">
  </swiper-slide>
  
  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=2" alt="">
  </swiper-slide>
  
  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=3" alt="">
  </swiper-slide>
  
  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=4" alt="">
  </swiper-slide>
  
  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=5" alt="">
  </swiper-slide>
  
  </swiper-container>
  
  
<br>
<hr>
<br>

<span>Speed</span>
<swiper-container loop="true" navigation="true" slides-per-view="3" speed="500" class="mySwiper">

  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=1" alt="">
  </swiper-slide>
  
  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=2" alt="">
  </swiper-slide>
  
  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=3" alt="">
  </swiper-slide>
  
  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=4" alt="">
  </swiper-slide>
  
  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=5" alt="">
  </swiper-slide>
  
  </swiper-container>
  
  

  <br>
  <hr>
  <br>
  
<span>Pagination</span>
<swiper-container loop="true" navigation="true" slides-per-view="3" speed="500" class="mySwiper" pagination="true">

  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=1" alt="">
  </swiper-slide>
  
  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=2" alt="">
  </swiper-slide>
  
  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=3" alt="">
  </swiper-slide>
  
  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=4" alt="">
  </swiper-slide>
  
  <swiper-slide>
    <img src="https://picsum.photos/3000/1000?random=5" alt="">
  </swiper-slide>
  
  </swiper-container>
  

  <br>
  <hr>
  <br>
  
  <span>Lazy="true"</span>
  <swiper-container loop="true" navigation="true" slides-per-view="3" speed="500" class="mySwiper" pagination="true">
  
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/3000/1000?random=1" lading="lazy">
    </swiper-slide>
    
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/3000/1000?random=2" lading="lazy">
    </swiper-slide>
    
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/3000/1000?random=3" lading="lazy">
    </swiper-slide>
    
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/3000/1000?random=4" lading="lazy">
    </swiper-slide>
    
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/3000/1000?random=5" lading="lazy">
    </swiper-slide>
    
    </swiper-container>
    

    <br>
    <hr>
    <br>
    
    <span>Customized: Effect cards</span>
    <swiper-container  effect="cards" grab-cursor="true" style="width:600px">
    
      <swiper-slide lazy="true">
        <img src="https://picsum.photos/600/800?random=1" lading="lazy">
      </swiper-slide>
      
      <swiper-slide lazy="true">
        <img src="https://picsum.photos/600/800?random=2" lading="lazy">
      </swiper-slide>
      
      <swiper-slide lazy="true">
        <img src="https://picsum.photos/600/800?random=3" lading="lazy">
      </swiper-slide>
      
      <swiper-slide lazy="true">
        <img src="https://picsum.photos/600/800?random=4" lading="lazy">
      </swiper-slide>
      
      <swiper-slide lazy="true">
        <img src="https://picsum.photos/600/800?random=5" lading="lazy">
      </swiper-slide>
      
      </swiper-container>
        


<br>
<hr>
<br>

<span>Customized: Centered, pagination color white</span>
<swiper-container  style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" grab-cursor="true" style="width:600px" pagination="true" pagination-clickable="true" slides-per-view="3" space-between="30" centered-slides="true">

  <swiper-slide lazy="true">
    <img src="https://picsum.photos/200/300?random=1" loading="lazy">
  </swiper-slide>
  
  <swiper-slide lazy="true">
    <img src="https://picsum.photos/200/300?random=2" loading="lazy">
  </swiper-slide>
  
  <swiper-slide lazy="true">
    <img src="https://picsum.photos/200/300?random=3" loading="lazy">
  </swiper-slide>
  
  <swiper-slide lazy="true">
    <img src="https://picsum.photos/200/300?random=4" loading="lazy">
  </swiper-slide>
  
  <swiper-slide lazy="true">
    <img src="https://picsum.photos/200/300?random=5" loading="lazy">
  </swiper-slide>
  
  </swiper-container>
  